@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}
*{
    text-decoration: none;
    /* list-style-type: none; */
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    text-decoration: none;
    /* list-style: none; */
}

.no-list{
    list-style-type: none;
    list-style: none;
}